    /* ========================= General Tags ======================== */
.profile-body, html {
    height: 100%;
    margin: 0;
    background-color: #edeff0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    font-family: "Roboto", sans-serif;
    }



    /* ========================= Profile Cards ======================== */
    .profile {
        margin-top: 4rem;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-shadow: 0 30px 50px -20px rgba(0,0,0,0.1);
        border-radius: 15px;
        padding-top: 2rem;
        padding-bottom: 2rem;
       
    }
    .rate-history {
        margin-top: 4rem;
        margin-bottom: 4rem;
        background-color: #FAFAFA;
        box-shadow: 0 30px 50px -20px rgba(0,0,0,0.1);
        border-radius: 15px;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

    }
    .edit-profile-form {
        margin-top: 4rem;
        margin-bottom: 4rem;
        background-color: #FAFAFA;
        border-radius: 15px;
        padding-left: 2rem;
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
 
    /* ========================= Inner Card ======================== */

    .user-title-section {
       display: flex;
       flex-direction: column;
        flex-wrap: wrap;
       align-self: center;
        text-align: center;
        justify-content: space-between;
    }

   .profile-img {
       width: 200px;
       height: 200px;
       margin-bottom: 1rem;
   }

 .profile-user-title h2 {
       
       text-align: center;
       font-weight: 400;
       color: #242121;
       font-size: 1.8em;
   }
   .profile-user-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
    text-align: left;
    
   }
   .edit-btn {
       text-align: center;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
   }
   .edit-profile-btn {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 1em;
    padding: 10px 40px;
    white-space: nowrap;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    margin: 10px 0;
    background-color: #8E56C0;
    animation: fade-in 0.8s forwards;
   }

   .edit-profile-btn:hover {
    outline: none;
    text-decoration-line: none;
    color: white;
   }

    .history-title {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 15px;
    }
    .history-title h2 {
        color: black;
        font-family: "Roboto", sans-serif;
        font-size: 1.8em;
        opacity: 0.8;
        letter-spacing: 0.3px;
    }
    .history-title span {
        color:#2980B9;
    }

    .app-site-container {
        margin-bottom: 2.5rem;
    }

    .app-site-container h3 {
        color: #384047;
        font-family: "Roboto", sans-serif;
        font-size: 1.4em;
        font-weight: 400;
  }

  .app-site-container p {
      font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: darkgrey;
  }
  

  .save-changes-btn {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 1em;
    padding: 10px 40px;
    white-space: nowrap;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    margin: 10px 0;
    background: #11998e;  /* fallback for old browsers */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    animation: fade-in 0.8s forwards;
   }
   .reset-pswd-btn {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    white-space: nowrap;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    margin: 10px 0;
    background: #aa3a38;  /* fallback for old browsers */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.9;;
    animation: fade-in 0.8s forwards;
   }
   .reset-pswd-btn:hover {
       color: white;
       outline: none;
       text-decoration-line: none;
   }
   .edit-profile-btn:hover {
    outline: none;
    
   }
   .edit-label {
       padding-bottom: 0;
       margin-top: 15px;
   }