/* SOFTWARE LIST PAGE & SOFTWARE ITEM PAGE */

/* ========================= GENERAL TAGS ======================== */
.software-list, html {
    background-color: #edeff0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}




/* ========================= Layout ======================== */

.search-list-page {
    
    margin-left: 1rem;
    margin-right: auto;
}

.filters {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.filter-card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 15px;
    
}
.software-list-card {
    background-color: #FAFAFA;
    border-radius: 15px;
    box-shadow: 0 30px 50px -20px rgba(0,0,0,0.1);
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.card-inner-img {
    align-self: center;
}
.card-inner-img img {
    max-width: 150px;
    max-height: 150px;
}
.software-information {
    margin-left: 40px;
    align-self: center;
    width: 45%;
    
}


.check-btn:hover {
    text-decoration-line: none;

}
.software-data {
    align-self: center;
}
.app-site-logo-container {
    text-align: center;
}
.software-list-img {
    max-width: 150px;
    max-height: 150px;
    
}

.software-item {
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #FAFAFA;
    border-radius: 15px;
}
.not-status {
    text-align: center;

}
.basic-information {
    width: 80%;
    margin-top: 1.5rem;

}
.software-name {
    font-family: "Raleway", sans-serif;

}
.data-box {
    display: inline-block;
    margin-right: 2rem;
    min-width: 100px;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #424242;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}
.rating-row {
    margin-top: 3rem;
}
/* ========================= Custom Settings ======================== */

.material-filter {
    border-radius: 10px;
    background: #fe8c00;  /* fallback for old browsers */
  
    
}
.human-filter {
    
    border-radius: 10px;
    background: #3498DB
  

}
.fluent-filter {
    border-radius: 10px;
    background: #4B6CB7; 
   
    
}
.flat-filter {
    border-radius: 10px;
    background: #734B6D;
   
}
.filter-card {
    text-align: center;
}
.filter-link {
    text-transform: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    
    letter-spacing: 0.5px;
}

.filter-link:hover {
    color: white;
    text-decoration-line: none;
}

.filter-title {
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.4px;
    opacity: 0.9;
}
.search-input {
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.4;
}
.software-title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 2em;
}
.check-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #FC506B;
}

.software-data ul {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}
.software-data li {
    margin-top: 2rem;
}
.rating-container {
margin-top: 1rem;
}
.rating-container h3 {
    font-family: "Raleway", sans-serif;
    
    font-size: 2.2em;
    text-align: center;
    color: #007bff; 
    letter-spacing: 1px
}


/* Rating Stars CSS */
.star-rating {
    line-height:32px;
    font-size:2.3em;
    text-align: center;
    color: #424242;
  }
  
  .star-rating .fa-star{color: #FFC107;}


@media (max-width: 991.98px) { 
    .filter-title {
        text-align: center;
        
    }
    .search-list-page {
        margin-left: auto;
        margin-right: auto;
    }

    .software-list-card {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
       
    }
   
    .software-information {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        width: 90%;
    }
    .software-title {
        align-self: center;
        text-align: center;
        line-height: 4rem;
    }
    .software-paragraph {
        text-align: center;
        line-height: 2rem;
    }
    .software-data {
        align-self: flex-start;
    }
   
 }
